
.box{
    border-radius: 10px;
    width:500px;
    background:rgba(0, 0, 0, 0.8);               
    margin-top: 10px;
    padding:30px 30px;
    top: 20%;
    left: 30%;
    
    position: absolute;
}

h1{
    font-weight: normal;
    margin: 0px ;
    padding: 0 0 20px;
    text-align: center;
    font-size: 60px;
    color: rgb(255, 255, 255);
}


body
{
    background: url("Spo_img1.jpg") no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: candara;
}
input[type='submit']{
    padding: 1rem 2rem;
    border: 3px solid #fefefe;
    border-radius: 7px;
    color: #fefefe;
    background: rgba(1, 8, 15, 0.6);
    font-size: 1rem;
    font-family: candara;
    font-weight: bold;
    cursor: pointer;
  }